#one li{
    display: inline;
    padding: 20px;   
}
#one li:nth-child(1){
    padding-left: 60%;
}
body{
    height:100vh;
    background:linear-gradient(to right,yellow,red);
}
.two{
    position:absolute;
    top:30%;
    left:40%;
    opacity: 0.4;
}

audio{
    float: right;
    padding:18%;
    padding-top: 23%;
    
}
 img{
    position:relative;
    top:30%;
    left:2%;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}


