body{
    color: white;
  
}
.heading,li,h1,h4{
    list-style: none;
    display: inline;
    color: white;
}

.nav{
    background-color: gray;
    padding: 7px;
}
h4{
    padding-left: 40em;
}
#mov{
    background-color: black;
    height: 90vh;
}
.bar{
    color: white;
}
.bar,h1{
    color:white;
}
p{
    padding-left: 42px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.5em;
}
.image,img{
        display:inline;
        position:relative;
        top:10px;
        padding-left: 35px;
    }

    .next {
        background-color: white;
        color:black;
      }
      
      .round {
        border-radius: 50%;
        height: 40px;
        width: 30px;
      }
